@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body {
    margin: 0px;
    background-color: #121214;
    font-family: Roboto, sans-serif;
    color: #fff;
}

.banner {
    width: 100%;
    /* tamanho do display do navegador */
    height: 100%;
    /* tamano limite da tela*/
    overflow: hidden;
    /* retira os scrolls e barras de rolagem*/
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    opacity: 0.5;
}

h1 {
    color: #fff;
    z-index: 1;
    margin-top: 35px;
    margin-left: 30px;
    border-bottom: 1px solid rgb(0, 255, 128);
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

nav {
    display: flex;
    margin-right: 40px;
}

ul {
    z-index: 1;
    list-style: none;
    /*remove os estilos da lsita*/
    display: flex;
    font-size: 18pt;
    padding: 10px;
}

li {
    margin-left: 30px;
}

a {
    display: block;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

a:hover {
    transition: 0.3s;
    background-color: rgba(35, 251, 143, 0.164);
    border-radius: 20px 20px 20px 20px;
}

.flex-container {
    display: flex;
    align-items: baseline
}

.child {
    z-index: 1;
    background-color: #12121400;
    border: 1px solid rgb(0, 255, 21);
    color: #fff;
    width: 20%;
    height: 200px;
    margin-top: 600px;
}

.child,
div {
    justify-content: space-evenly;
    text-align: center;
}

.child:hover {
    background-color: #02ff1705;
    border: 1px solid rgb(4, 251, 119);
}

.far {
    font-size: 34pt;
    text-align: center;
    margin-top: 40px;
}

.fas {
    font-size: 34pt;
    text-align: center;
    margin-top: 40px;
}

.fab {
    font-size: 34pt;
    text-align: center;
    margin-top: 40px;
}

.icon-message {
    display: flex;
    margin-top: 30px;
    align-content: flex-end;
    justify-content: center;
}

.subtitle {
    text-align: center;
}


/* =======================SOBRE====================================== */

h2 {
    margin: auto;
    margin-top: 100px;
    display: block;
    border-bottom: 1px solid rgb(0, 255, 128);
    width: 100px;
    color: #fff;
}

h2:hover {
    background-color: rgba(0, 255, 128, 0.246);
    transition: 0.9s;
    border-bottom: 1px solid rgb(0, 255, 128);
}

h3 {
    margin: auto;
    color: #fff;
    margin-top: 100px;
    display: block;
    border-bottom: 1px solid rgb(0, 255, 128);
    width: 330px;
}

h3:hover {
    background-color: rgba(0, 255, 128, 0.246);
    transition: 0.9s;
    border-bottom: 1px solid rgb(0, 255, 128);
}

.about p {
    max-width: 400px;
    padding: 2px;
    margin-bottom: .5rem;
}

p {
    text-align: initial;
    line-height: 25px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin-top: 70px;
    color: rgb(163, 162, 162);
}


/* ==============Serviços================================ */

.r {
    width: 50px;
    margin: -6px;
}

.wrapper {
    padding: 1rem;
    border-radius: 0.625rem;
    min-height: 190px;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

.text {
    margin: 10px;
}

h4 {
    margin: auto;
    text-align: justify;
    font-size: 14pt;
}

li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.wrapper .Web {
    width: 400px;
    border-radius: 20px;
    background: rgb(33, 33, 33);
    background: linear-gradient(65deg, rgba(33, 33, 33, 1) 32%, rgba(87, 87, 87, 1) 100%);
    box-shadow: 5px 2px 10px 2px rgba(66, 66, 66, 0.534);
}

.service {
    height: 100%;
    column-count: 2;
}


/* ============== end Serviços================================ */


/* =============projetos=================================== */

.projetos {
    width: 300px;
}

.projetos figure img {
    width: 300px;
}

.prjimg {
    width: 339px;
}

figure,
figcaption {
    padding: 3px;
    width: 300px;
}

figcaption {
    text-align: inherit;
    padding: 20px;
    background-color: rgb(31, 31, 31);
    width: 300px;
    line-height: 25px;
    color: rgb(163, 162, 162);
}


/* ============= end projetos=================================== */


/* ====================formulario=================== */

.formulario {
    margin: auto;
    z-index: 1;
    background-color: #121214;
    color: #fff;
    width: 700px;
}

.formulario:hover {
    transition: 3s;
    background-color: #02ff1705;
}

input {
    width: 400px;
    height: 40px;
    background-color: rgb(33, 33, 33);
    border-style: none;
    border-bottom-color: rgb(4, 251, 119);
}

input::placeholder {
    color: rgb(163, 162, 162);
}

input {
    color: rgb(163, 162, 162);
}

textarea {
    color: rgb(163, 162, 162);
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 800px;
    padding: 4rem 2rem;
    border-radius: 20px;
}

.form-title {
    font-weight: 400;
    margin-bottom: 3rem;
}

.form_div {
    position: relative;
    margin-bottom: 1.5rem;
}

.form_input {
    font-size: 14pt;
    border: 1px solid rgb(4, 251, 119);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form_input_textarea {
    font-size: 14pt;
    width: 380px;
    height: 180px;
    border: 1px solid rgb(4, 251, 119);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form_label {
    position: absolute;
    left: -1rem;
    top: 1rem;
    padding: 0 .25rem;
    transition: 2s;
}

.form_label:hover {
    border-bottom: 1px solid rgb(0, 255, 128);
}

.form_button {
    text-align: left;
    display: block;
    margin-left: auto;
    padding: .35rem 2rem;
    outline: none;
    border: none;
    font-size: 18pt;
    width: 70px;
    background-color: rgb(4, 251, 119);
    border-radius: .5rem;
    cursor: pointer;
    transition: 2s;
    color: #fff;
}

.form_button:hover {
    box-shadow: 0 10px 36px rgba(15, 15, 15, 0.924);
}


/* ==================== end formulario=================== */


/* =====================redes sociais================ */

.redes {
    float: right;
}

.redes-sociais ul li a img {
    display: block;
    max-width: 100px;
    height: 50px;
    z-index: 2;
}

.a:hover {
    background-color: rgba(0, 255, 128, 0);
}


/* =====================redes sociais================ */

.logo {
    padding: 10px;
    width: 160px;
}

footer {
    background-color: rgba(0, 0, 0, 0.993);
    height: 350px;
    font-size: 14pt;
}

footer-copyright {
    background-color: rgba(0, 0, 0, 0.993);
    height: 200px;
}

span {
    color: rgb(4, 251, 37);
}

.end {
    bottom: 0;
    margin-top: 100px;
}